Also rewrite HTTP header "Destination" 

Also rewrite the HTTP request header "Destination" (see RFC 2518 section 9.3; also used by WebDAV) in the reverseProxying interceptor.
